* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.nav {
  height: 100vh;
  width: 100%;
  background-color: #2f2fa2;
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 2%;
  background-color: aqua;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #f64c72;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #2f2fa2;
  transition: 0.4s;
}

.content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-40%);
  font-size: 20px;
  color: white;
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h2 {
  font-size: 50px;
  color: black;
}
h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #5656e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.end {
  position: absolute;
  color: #f64c72;
  bottom: 35px;
  font-size: 14px;
}
.kiri {
  float: left;
  width: 75px;
  height: 78px;
  background-color: aqua;
}
.galeri {
  background-color: #f64c72;
}
.galeri-kiri {
  float: left;
  width: 240px;
  height: 240px;
}
.content-galeri {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-40%);
  font-size: 40px;
}
